/* header */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
:root{
    --black-color: #000000;
    --dark-grey-color: #767676;
    --white-color: #fff;
    --light-color: #D9D9D9;
}
*,
*::after,
*::before{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: "Inter", sans-serif;
}
body { 
    font-family: 'Inter', sans-serif;
    color: #000;
}
nav{
    display: flex;
    height: 16rem;
    justify-content: space-evenly;
}

.front-header{
    background-color: var(--black-color);
}

nav ul{
    list-style: none;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;

}
nav .follow li{
    color: var(--white-color);
}

nav .follow li p{
    color: var(--white-color);
    font-size: 1.6rem;
}

nav .follow li a{
    text-decoration: none;
}

nav .logo{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    
}

nav .logo h1{
    color: var(--white-color);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
    letter-spacing: 0.08em;
    margin: 0;
    margin-top: 1rem;
   
}

nav .logo p{
    color: var(--white-color);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 100.52%;
    margin: 0;
   
}

nav .timkiem{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-right: 2rem;
}

nav .timkiem input{
    width: 14rem;
    height: 3rem;
    border-radius: 30px;
}

nav .timkiem p{
    color: var(--white-color);
    font-family: 'Inter';
    font-size: 1.2rem;
    margin: 0;
}
nav .timkiem ::placeholder{
    font-family: 'Inter';
    font-size: 1.2rem;
}



/* Menu */

.menu{
    background-color: var(--dark-grey-color);
    height: 4rem;
}

.menu ul{
    list-style: none;
    display: flex;
    gap: 60px;
    height: 40px;
    align-items: center;
}

.menu ul li{
    display: flex;
    width: 12rem;
    height: 40px;
    align-items: center;
    text-align: center;
    justify-content: center; 

}

.menu ul li a{
    text-decoration: none;
    color: var(--white-color);
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;  
    line-height: 1.8rem;
}
/* end- header*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body { 
    font-family: 'Inter', sans-serif;
    color: #000;
    font-size: 14px;
}

.header {
    background-color: black;
    height: 280px;
    width: 100%;
}

/*                     */
.extra-main {
    background-color: #D9D9D9;
    height: 30px;
    width: 100%;
    margin: 0 auto;
}
.extra-main-inner ul{
    margin: 0 auto;
    padding-top: 3px;
    vertical-align: middle;
    padding-left: 9%;
}
.extra-main-inner ul li{
    list-style: none;
    display: inline-block;
    padding: 3px;
}
.extra-main-inner ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #000;
    font-weight: 300;
}
.body-content {
    margin-top: 14px;
    height: 1110px;
    display: grid;
    grid-template-columns: 22% 78%;
    grid-template-rows: 355px 685px 20px;
}
.slidebar-left {
    background-color: #f1f1f1;
    grid-row-start: 1;
    grid-row-end: 4;
    margin-top: 0;
    margin-right: 10px;
    margin-left: 130px;
    width: 206px; /* 
     margin-right: 10px;
    margin-left: 130px;
    width: 100%;
    w 206px */

}
.advertisement {
    width: 1024px;
    height: 350px;
    display: flex;
    margin-left: 3%;
    margin-bottom: 10px;
    justify-content: content;
}
.homebanner-holder {
    width: 1024px;
    height: 700px;
    display: flex;
    margin-left: 3%;
    margin-bottom: 10px;
    background-color: #ffffff;
}
.slidebypass {
    width: 1024px;
    height: 30px;
    display: block;
    margin-left: 3%;
    text-align: center;
} 
.slidebar-left li {
    list-style: none;
}
.slidebar-left li a{
    text-decoration: none;
    color: #000000;
}
.slidebar-left .text {
    font-size: 14px;
    font-weight: 600;
    line-height: 60px;
    text-align: center;
    border-bottom: 1px solid #000;
}
div .danhmuc ul {
    width: 100%;
    height: 100%;
}
div .danhmuc ul li {
    line-height: 42px;   
}
div .danhmuc ul li a {
    font-size: 14px;
    display: block;
    font-weight: 400; 
    height: 100%;
    padding-left: 25px;
    border-left: 1px solid transparent; 
}
div .danhmuc ul li a:hover {
    font-weight: 500;
    background-color: #e6e6e6;
    border-left-color: #000;
}
div .danhmuc ul ul li a {
    font-size: 14px;
    padding-left: 55px;
}
.slider-adv{ 
    
    width: 100%;
     
    display: block;
    /*
    width: 1024px;
    height: 350px;*/ 
}
.slider-adv img { 
    
    width: 100%; 
    height: 350px;
    display: block;
    /*
    width: 1024px;
    height: 350px;*/ 
}
.slider-adv a {
    width: 90px;
    height: 50px; 
}
.next {
    top: 50px;
}

ul.product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 30px 20px 30px;
}
.product li.prd {
    list-style: none;
    text-decoration: none;
 /*   flex-basis: 25%;   */ 
    box-sizing: border-box;
    margin: 10px 25px 3px 45px; 
    width: 150px;
    height: 282px;
}
.product li img{
    list-style: none;
    height: auto;
    max-width: 100%;
}
ul.product li .product-inf a{
    display: block;
    text-decoration: none;
}
ul.product li .product-inf a.product-name{
    font-size: 12px;
    color: #000;
    text-align: center;
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 4px;
}
ul.product li .product-inf a.product-price{
    font-size: 12px;
    font-weight: 600;
    color: #000;
    text-align: center;
}
ul.product li .product-inf a.rate-star{ 
    text-align: center;
}
ul.buying{ 
    display: flex;
}
.product-top img{
    justify-content: center;
    height: 100%;
    width: 100%;
}
a.btn1 {
    display: block;
    text-align: center;
}
.btn1{
    display: block;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #000000;
    width: 70px;
    height: 46.6px;
    left: 0px;
    top: 5px;

    background: #F1F1F1;
    border: 1px solid #000000;
    border-radius: 8px;
    margin-left: 1px;
    margin-right: 4px;
    font-family: 'Inter';
}
.bt-sold {
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #000000;
    width: 150px;
    height: 33px;
    background: #F1F1F1;
    border: 1px solid #000000;
    border-radius: 8px;
    font-family: 'Inter';
    margin-top: 7px;
}
.btn2{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #ffffff;
    width: 70px;
    height: 46.6px;
    left: 0px;
    top: 5px;

    background: #000000;
    border: 1px solid #000000;
    border-radius: 8px;
    margin-left: 4px;
    margin-right: 1px;
}
.btn2:hover{
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #000000;
    width: 70px;
    height: 46.6px;
    left: 0px;
    top: 5px;

    background: #F1F1F1;
    border: 1px solid #000000;
    border-radius: 8px;
    margin-left: 1px;
    margin-right: 4px;
    font-family: 'Inter';
}
.btn1:hover{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #ffffff;
    width: 70px;
    height: 46.6px;
    left: 0px;
    top: 5px;

    background: #000000;
    border: 1px solid #000000;
    border-radius: 8px;
    margin-left: 1px;
    margin-right: 4px;
}
.slide-next { 
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        color: #000000;
        width: 30px;
        height: 30px; 

        background: #F1F1F1;
        border: 1px solid #000000;
        border-radius: 8px;
        font-family: 'Inter'; 
}
.slide-first {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #ffffff;
    width: 30px;
    height: 30px; 

    background: #000000;
    border: 1px solid #000000;
    border-radius: 8px; 
}

/* footer */
.links-container{
    background-color: var(--black-color);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 20rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.logo img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.links ul{
    list-style: none;
    text-decoration: none;
    padding-left: 0;
}
.links ul li{
    color: var(--white-color);    
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 180%;
    letter-spacing: 0.0002em;
}
.links .cau-hoi li{
    margin-bottom: 0.5rem;
}
.links .lien-he li{
    margin-bottom: 1rem;
}

.links h3{
    color: var(--white-color);
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2rem;
    letter-spacing: 0.0002em;
    margin-bottom: 15px;
}

.links a{
    text-decoration: none;
    color: var(--white-color);
}
@media only screen and (max-width: 700px) {
    .extra-main {
        background-color: #D9D9D9;
        height: 20px;
        width: 100%;
        margin: 0 auto;
    }
    .extra-main-inner ul{
        padding-top: 0; 
    }
    .extra-main-inner ul li a{
        padding-top: 0;
        text-decoration: none;
        font-size: 12px;
        color: #000;
        font-weight: 300;
    }
    .slidebar-left {
        display: none;
    }
    .advertisement {
        background-color: #D9D9D9;
        width: 100%; 
        margin-top: 15px; 
        margin-left: 0; 
        height: 290px;
    }

    .homebanner-holder {
        margin: 0;
        display: flex; 
        width: 100%;
        height: auto;
    }
    .body-content {
        display: contents;
    }
    .slider-adv { 
        width: 100%; 
        height: 100%;
        display: block;
        /*
        width: 1024px;
        height: 350px;*/ 
    }
    .slider-adv img { 
    
        width: 100%; 
        height: 100%;
        display: block;
        /*
        width: 1024px;
        height: 350px;*/ 
    }
    ul.product {
        display: flex;
        flex-wrap: wrap;
        justify-content:space-evenly;
        margin: 10px 10px 30px 55px; 
        flex-direction: row-reverse;
        justify-content:flex-end ; 
    }
    .product li.prd {
        list-style: none;
        text-decoration: none;
     /*   flex-basis: 25%;   */ 
        box-sizing: border-box;
        margin: 30px 25px 3px 25px; 
        width: 100px;
        height: 200px;
    }
    .slidebypass {
        width: 100%;
        height: 30px;
        margin-bottom: 15px;
    } 
    .btn1 {
        display: none;
    }
    .btn2 {
        display: none;
    }
    .bt-sold { 
        display: none;
    }
    .slide-first {
        width: 20px;
        height: 20px;
        border-radius: 5px;

    }
    .slide-next {
        width: 20px;
        height: 20px;
        border-radius: 5px;
    } 
    /* Header*/
    nav {
        height: 5rem;
    }

    nav ul{
        display: none;
    }
    
    nav .logo h1{
        font-size: 2.2rem;    
    }

    nav .logo p{
        font-size: 1rem;
    }

    nav .timkiem input{
        width: 12rem;
        height: 2.3rem;
    }
    
    nav .timkiem p{
        font-size: 1.2rem;
    }
    nav .timkiem ::placeholder{
        font-size: 1rem;
    }

    .giohang img{
        width: 2.2rem;
        height: 2.2rem;
        margin-left: 1rem;
    }
    .timkiem form button img{
        width: 13px;
        height: 13px;
    }    

    /* Menu*/
    .menu{
        height: 3rem;
    }
    
     .menu ul{
       gap: 10px;
       padding: 0;
    }
   
   .menu ul li{
       width: 8rem;     
    }

   .menu ul li a{
       position: absolute;
       font-style: normal;
       font-size: 1rem;
       line-height: 1.2rem;
    } 
    /* Footer */

    .links ul li{
        font-size: 1rem;
        line-height: 140%;
    }

    .links .cau-hoi li{
        margin-bottom: 0.5rem;
    }

    .links .lien-he li{
        margin-bottom: 1rem;
    }

    .links h3{
        font-size: 1.2rem;
        line-height: 1rem;
    }
    .links-container .logo img{
        width: 10rem;
        height: 3.8rem;
        margin-bottom: 25px;
    }
    /* Menu*/
    .menu{
        height: 3rem;
    }
    
     .menu ul{
       gap: 10px;
       padding: 0;
    }
   
   .menu ul li{
       width: 8rem;     
    }

   .menu ul li a{
       position: absolute;
       font-style: normal;
       font-size: 1rem;
       line-height: 1.2rem;
    }
}

@media screen and (min-width: 700px)and (max-width: 1300px) {


    /* Header*/
    nav {
        height: 9rem;
        align-items: center;
        display: flex;
        justify-content:space-evenly;
    }
 
    nav ul{
        gap: 2px;
    }
    
    nav .follow li p{
        font-size: 1.2rem;
    }
 
    nav .follow li img{
        width: 18px;
        height: 18px;
 
    }
    
    nav .logo h1{
        font-size: 2.6rem;
    }
 
    nav .logo p{
        color: var(--white-color);
        font-style: normal;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 100.52%;
        margin: 0;
    }
    nav .timkiem{
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0;
    }
    
    nav .timkiem input{
        width: 12rem;
        height: 2.8rem;
    }
    
    nav .timkiem p{
        font-size: 1.2rem;
    }
    nav .timkiem ::placeholder{
        font-size: 1rem;
    }
 
    .giohang img{
        width: 2.6rem;
        height: 2.4rem;
        margin-left: 0.8rem;
    }
    /*menu*/
    .menu{
        height: 3rem;
    }
    
    .menu ul{
        gap: 0px;
        padding: 0;
    }
    
    .menu ul li{
        width: 12rem;     
    }
 
    .menu ul li a{
        position: absolute;
        font-style: normal;
        font-size: 1.2rem;
        line-height: 1.4rem;
    }
    /* Footer */

    .links ul li{
        font-size: 1.2rem;
        line-height: 160%;
    }

    .links .cau-hoi li{
        margin-bottom: 0.5rem;
    }

    .links .lien-he li{
        margin-bottom: 1rem;
    }

    .links h3{
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .links-container .logo img{
        width: 15rem;
        height: 5rem;
    }
}